/* responsive.css created by Bernardus Billy Tjiptoning on September 2014 */

@media (max-width: 768px) {
	#name {
		font-size: 16pt;
		padding: 10pt 0 0 0;
		text-align: center;
	}
	#menu-container {
		padding-top: 9px;
		text-align: center;
	}
	.menu {
		padding: 15px 10px;
	}

	#introduction {
		font-size: 14px;
	}

	#introduction .h2 {
		font-size: 20pt;
	}

	.entry .h2 {
		font-size: 20pt;
	}

	.entry .item-header {
		font-size: 14pt;
	}

	.entry .item-info {
		font-size: 8pt;
	}
}
@media (min-width: 769px) and (max-width: 991px) {
	#name {
		font-size: 18pt;
		padding: 35px 0;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	#name {
		font-size: 30pt;
	}
}
@media (min-width: 1200px) {
	#name {
		font-size: 30pt;
	}
}