/* style.css created by Bernardus Billy Tjiptoning on September 2014 */

body {
	position: relative;
}

a {
	color: inherit;
}

#header {
	position: absolute;
	top: 0;
	width: 100%;
	font-family: 'Raleway', Arial;
}

#header-bg {
	width: 100%;
	height: 100px;
	background-color: #333;
}

#name {
	display: inline-block;
	padding: 20px 0;
	color: #FFF;
	font-size: 30pt;
}

#menu-container {
	display: inline-block;
	float: right;
	padding-top: 35px;
	font-size: 10pt;
	color: #888;
}

.menu {
	display: inline-block;
	padding: 5px 20px;
}

.menu:hover {
	color: #FFF;
	text-decoration: none;
	border-bottom: 2px solid #FFF;
}

.menu-active {
	color: #FFF;
	border-bottom: 2px solid #FFF;
}

#main {
	min-height: 700px;
	padding-top: 120px;
	font-family: 'Abel', Arial;
}

#introduction {
	font-size: 12pt;
}

#introduction-left {
	width: 75%;
	float: left;
}

#introduction-right {
	width: 20%;
	float: right;
	text-align: right;
	padding-top: 30px;
}

#footer {
	font-family: 'Raleway', Arial;
}

#footer .container {
	border-top: 1px solid #333;
	margin-top: 30px;
	padding-top: 5px;
	padding-bottom: 15px;
	text-align: right;
}

